node_modules
dist
.env
.DS_Store
npm-debug.log*
*.tsbuildinfo
server/storage/users.json
server/storage/*.db
server/storage/*.db-*
server/uploads/videos/*
server/uploads/thumbnails/*
!server/uploads/videos/.gitkeep
!server/uploads/thumbnails/.gitkeep
secure-streaming/input/*
secure-streaming/output/*
secure-streaming/secrets/*
!secure-streaming/input/.gitkeep
!secure-streaming/output/.gitkeep
!secure-streaming/secrets/.gitkeep
